.video-container-hd {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.video-container-square {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.video-container {
    position: relative;
    top: 56px;
    left: 0;
    height: calc(100vh - 56px);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }


  video {
    object-fit: cover;
    height: 126%;
    width: 100%;
  }

:root {
  --ulc-lite: #b3b3b3;
  --ulc-gray: #484848;
  --ulc-bg: black;
  --ulc-font-xl: 1.2rem;
  --ulc-font-lg: 1rem;
  --ulc-font-md: 0.875rem;
  --ulc-font-sm: 0.8rem;
}
body {
  font-family: "JetBrains Mono", monospace;
  font-size: var(--ulc-font-sm) !important;
  color: var(--ulc-lite);
  background-color: var(--ulc-bg);
}
.navbar {
  border-bottom: 1px solid var(--ulc-gray);
}
.navbar-brand {
  font-family: "JetBrains Mono", sans-serif;
  margin: 0 16px 0 16px;
}
.navbar-brand h1 {
  font-weight: 800;
  color: #fff;
  font-size: var(--ulc-font-xl);
}
@media (max-width: 767.98px) {
  .navbar-brand h1 {
    font-size: var(--ulc-font-lg);
  }
}

.social-link {
  width: 30px;
  height: 30px;
  border: 1px none #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000 !important;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}
.social-link:focus,
.social-link:hover {
  background: #000 !important;
  text-decoration: none;
  color: #fff !important;
}
.img-thumbnail {
  padding: 0;
  background-color: transparent !important;
  border: 0 none #000;
  height: 120px !important;
}
.ulc-project-title {
  font-weight: 500;
  text-align: center !important;
}
.ulc-project-description {
  text-justify: inter-word;
  text-align: justify;
  hyphens: auto;
}
.ulc-project-summary {
  color: #d7d7d7;
  font-size: 1rem;
  text-justify: inter-word;
  text-align: justify;
  hyphens: auto;
}
@media screen and (max-width: 768px) {
  .ulc-project-summary {
    font-size: 0.8rem;
    text-align: left;
    hyphens: auto;
  }
}
.nav-item {
  font-family: "JetBrains Mono";
  font-size: 1rem;
}
bg-primary {
  background-color: #000 !important;
}
.ulc-col-md-6 {
  position: relative;
  width: 100%;
  padding: 1px;
}
.icon-instagram {
  width: 1.5em;
  height: 1.5em;
  position: relative;
  top: 50px;
}
.icon-instagram:hover {
  opacity: 0.5;
  cursor: pointer;
}
.lead {
  text-justify: inter-word;
  text-align: justify;
  hyphens: auto;
  font-size: var(--ulc-font-lg);
}
.btn-primary {
  background-color: #000 !important;
  border-color: #000 !important;
  border-radius: 20px !important;
}
.btn-primary:hover {
  background-color: #000 !important;
  border-color: #707070 !important;
  border-radius: 20px !important;
}
.btn-primary:focus {
  background-color: #000 !important;
  border-color: #707070 !important;
  border-radius: 20px !important;
}
.btn-primary:active {
  background-color: #000 !important;
  border-color: #fff !important;
  border-radius: 20px !important;
  border-width: 2px !important;
}
.ulc-col-3 {
  flex: 0 0 auto;
  width: 20%;
}
.navbar-brand {
  margin-left: 16px;
  margin-top: auto;
  margin-bottom: auto;
}
@media only screen and (max-width: 600px) {
  .navbar-brand {
    font-size: 0.9rem !important;
  }
}
@media only screen and (min-width: 600px) {
  .navbar-brand {
    font-size: 1.25rem !important;
  }
}
.nav-link {
  text-align: center;
}
a.bg-primary:focus,
a.bg-primary:hover,
button.bg-primary:focus,
button.bg-primary:hover {
  background-color: #000 !important;
}
.fa-bars:hover {
  color: #fff !important;
  transition: color 0.3s;
  transition-timing-function: ease-in-out;
}
.navbar-toggler:focus {
  box-shadow: 0 0;
}
body,
html {
  overflow-x: hidden !important;
  overflow-y: auto;
}
